<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="icon" href="data:;base64,=">
	<title>rssinsidesuper</title>
	<link rel="stylesheet" href="/static/layui/src/css/layui.css">
</head>
<body>
<!-- 内容主体区域 -->
<table class="layui-hide" id="rssinsidesuper" lay-filter="rssinsidesuper_tab"></table>

<script type="text/html" id="operation">
	<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/javascript" src="/static/layui/examples/js/jquery.min.js"></script>
<script src="/static/layui/src/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.config({
        version: '1540399286917' //为了更新 js 缓存，可忽略
    });

    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
        var laydate = layui.laydate //日期
            ,laypage = layui.laypage //分页
            ,layer = layui.layer //弹层
            ,table = layui.table //表格
            ,carousel = layui.carousel //轮播
            ,upload = layui.upload //上传
            ,element = layui.element //元素操作
            ,slider = layui.slider //滑块

        //向世界问个好
        layer.msg('列表页');


        //执行一个 table 实例
        table.render({
            id: 'rssinsidesuper_id',
            elem: '#rssinsidesuper'
            ,url: '/rssinsidesuper/query' //数据接口
            ,title: 'rssinsidesuper'
            ,page: {prev: '上一页',next: '下一页',theme: '#1E9FFF'} //开启分页
            ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            ,cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'}
						,{field: 'id', title: '主键'}
						,{field: 'presentId', title: '监督报告表'}
						,{field: 'insideName', title: '姓名'}
						,{field: 'insidePost', title: '职务'}
						,{field: 'superRecord', title: '监督记录'}
						,{field: 'crtUser', title: '创建人'}
						,{field: 'crtTime', title: '创建时间'}
						,{field: 'updUser', title: '修改人'}
						,{field: 'updTime', title: '修改时间'}
						,{fixed: 'right', width: 165, align:'center', toolbar: '#operation'}
					]
					]
				});

        //监听头工具栏事件
        table.on('toolbar(rssinsidesuper_tab)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
                ,data = checkStatus.data; //获取选中的数据
            switch(obj.event){
                case 'add':
                    window.location.href = '/admin/jcy/rssinsidesuperedit';
                    break;
                case 'update':
                    if(data.length === 0){
                        layer.msg('请选择一行');
                    } else if(data.length > 1){
                        layer.msg('只能同时编辑一个');
                    } else {
                        window.location.href = '/rssinsidesuper/edit/' + data.id;
                    }
                    break;
                case 'delete':
                    if(data.length === 0){
                        layer.msg('请选择一行');
                    } else if(data.length > 1){
                        layer.msg('只能同时删除一个');
                    } else {
                        $.ajax({url:"/rssinsidesuper/delete",data:{"id":data.id},async:false});
                        table.reload('rssinsidesuper_id');
                    }
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(rssinsidesuper_tab)', function(obj){ //注：tool 是工具条事件名，rssinsidesuper_tab 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'detail'){
                layer.msg('查看操作');
            } else if(layEvent === 'del'){
                layer.confirm('真的删除么', function(index){
                    $.ajax({url:'/rssinsidesuper/delete/' + data.id,async:false});
                    table.reload('rssinsidesuper_id');
                    layer.close(index);
                });
            } else if(layEvent === 'edit'){
                window.location.href = '/rssinsidesuper/edit/' + data.id;
            }
        });
    });
</script>
</body>
</html>
