<!DOCTYPE>

<html>
<head>
    <meta charset="utf-8">
    <title>tuser列表</title>
    <link rel="icon" href="data:;base64,=">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/static/layui/src/css/layui.css">

    <style>
        body{padding: 10px;}
    </style>
</head>
<body>

<form class="layui-form layui-form-pane1" action="/tuser/save" method="post" id="tuserForm" name="tuser" lay-filter="first">
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" required placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="text" name="pass" required placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" required placeholder="请输入手机号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户状态</label>
            <div class="layui-input-inline">
                <input type="text" name="status" required placeholder="请输入用户状态" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-inline">
                <input type="text" name="created" required placeholder="请输入创建时间" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">更新时间</label>
            <div class="layui-input-inline">
                <input type="text" name="updated" required placeholder="请输入更新时间" autocomplete="off" class="layui-input">
            </div>
        </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<br>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script src="/static/layui/src/layui.js"></script>
<script src="/static/js/util.js"></script>

<script>
    layui.use('form', function(){
        var form = layui.form;

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题也太短了吧';
                }
            }
        });
        $.ajax({
            url: "/tuser/get",
            data: {"id":getQueryVariable("id")},
            async:false,
            success: function(data){
                form.val('first', data);
            }
        });
        //初始赋值
        form.val('first', {});


        //事件监听
        form.on('select', function(data){
            console.log('select: ', this, data);
        });

        form.on('checkbox', function(data){
            console.log(this.checked, data.elem.checked);
        });

        form.on('radio', function(data){
            console.log(data);
        });

        //监听提交
        form.on('submit(*)', function(data){
            layer.confirm('是否提交', {icon: 1, title:'提示'}, function(index){
                var formData = $('#tuserForm').serializeObject();
                $.ajax({
                    type:"post",
                    url: "/tuser/save",
                    async:false,
                    data:formData,
                    success:function(data){
                        if(data.success==true){
                            window.location.href = '/admin/jcy/tuser';
                        }else{
                            layer.msg("保存出错");
                            return false;
                        }

                    },error:function(e,ee,eee){
                        console.log(eee);
                    }
                });
            });
            return false;
        });

    });

</script>
</body>
</html>