<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.RssInsideSuperMapper">
  <resultMap id="BaseResultMap" type="com.example.data.RssInsideSuper">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="present_id" jdbcType="VARCHAR" property="presentId" />
    <result column="inside_name" jdbcType="VARCHAR" property="insideName" />
    <result column="inside_post" jdbcType="VARCHAR" property="insidePost" />
    <result column="super_record" jdbcType="VARCHAR" property="superRecord" />
    <result column="crt_user" jdbcType="VARCHAR" property="crtUser" />
    <result column="crt_time" jdbcType="VARCHAR" property="crtTime" />
    <result column="upd_user" jdbcType="VARCHAR" property="updUser" />
    <result column="upd_time" jdbcType="VARCHAR" property="updTime" />
  </resultMap>
</mapper>