<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="data:;base64,=">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>500</title>

    <!-- 需要引用的CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/ui.css" />
    <![endif]-->
    <style type="text/css">
        .content {
            margin-top: 6%;
            text-align: center;
        }
        ul {
            margin-top: 20px;
        }
        li {
            font-size: 16px;
            display: inline-block;
        }
        .ue-btn {
            width: 110px;
        }
    </style>
</head>
<body>
<!-- 页面结构 -->
<div class="content">
    <img src="/static/images/bg.png" />
    <ul>
        <li><a class="btn ue-btn">刷新</a></li>
        <li><a class="btn ue-btn" href="/login">返回首页</a></li>
    </ul>
</div>

<!-- 需要添加的JS -->
</body>
</html>